*.iml
*.log
.*.sw[op]
.DS_Store
.envrc
.git/
.metadata
.project
.yardoc
.yardwarns
/.bundle/
/.idea/
/.modules/
/.plan_cache.json
/.resource_types/
/.task_cache.json
/.vagrant/
/Gemfile.local
/Gemfile.lock
/Puppetfile
/_download_path/
_slim_repos*.repo
_slim_repos*.sh
_slim_repos*.yaml
/bin/
/convert_report.txt
/coverage/
/data/LOCAL.yaml
/data/local.yaml
/doc/
/junit/
/log/
/pkg/
/pulp_storage/
/run/
/settings/
/output/
/spec/fixtures/manifests/
/spec/fixtures/modules/
/tmp/
/vendor/
????????-????-????-????-????????????
bolt-debug.log
gem.deps.rb.lock
.rerun.json
